@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Fontdiner+Swanky&family=Monoton&family=Permanent+Marker&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Sigmar+One&display=swap");

:root {
    --msc-yellow: #dada04;
    --msc-green: rgb(0, 128, 0);
    --msc-red: #652212;
    --msc-gray: rgb(175, 175, 175);
    --msc-white: white;
    --msc-black: black;
    --base-color: rgb(30, 30, 30);
    --nav-color: rgb(35, 35, 35);
    --my-gray: lightslategray;
    --font-poppins: "Poppins";
    --font-bo: "Black Ops One";
    --font-swonky: "Fontdiner Swanky";
    --font-moonoton: "Monoton";
    --font-marker: "Permanent Marker";
    --font-sigmor: "Sigmar One";
    --font-acme: "Acme, sans-serif";
}

body {
    background: var(--base-color);
    margin: 0;
    font-family: var(--font-poppins);
}

section {
    padding: 5em 2em;
}

.leaderboard {
    background: var(--nav-color);
    padding-top: 10px;
    padding-bottom: 20px;
}

    .leaderboard .title-div {
        text-align: center;
    }

        .leaderboard .title-div a {
            font-weight: bold;
            color: cadetblue;
            font-size: 50px;
            text-shadow: 2px 2px 5px black;
            font-family: var(--font-bo);
        }


    .leaderboard .center {
        margin-top: 0;
    }

        .leaderboard .center .names-container {
            margin: 0;
        }

            .leaderboard .center .names-container .entry-table {
                text-align: center;
                border: 4px solid var(--msc-red);
                border-radius: 10px;
                width: 65%;
            }

                .leaderboard .center .names-container .entry-table .table-head .table-column {
                    background-color: var(--base-color);
                    color: var(--msc-gray);
                    text-shadow: 1px 1px 2px black;
                    font-size: 23px;
                    font-weight: bold;
                    font-family: var(--font-bo);
                    border: 4px solid var(--msc-red);
                }

                .leaderboard .center .names-container .entry-table .table-body {
                    color: var(--my-gray);
                    text-shadow: 1px 1px 2px black;
                    font-size: 18px;
                    font-weight: bold;
                    font-family: var(--font-bo);
                    background-color: var(--base-color);
                    margin-top: 10px;
                }
                .table-row td{
                     border-left: 4px solid var(--msc-red);
                     border-right: 4px solid var(--msc-red);
                     margin: 10px 10px 10px 10px;
                }
                .my-image{
                    margin: 10px 0px 10px 0px;
                    border-top: 4px solid var(--msc-red);
                    border-bottom: 4px solid var(--msc-red);
                    width:0%;
                }
                .last-played{
                    width: 15%;
                }
                .game-title {
                    width: 30%;
                }
                .time-total{
                     width: 10%;
                }